.over-hidden{
    overflow: hidden;
}
.rondelle-resultats{
    position: absolute;
    width: 40px;
    height: auto;
    top: -16px;
    left: -16px;
    +div{
        h2{
            margin-left: 12px;
            margin-top: 12px;
            font-weight: bold;
            font-size: 1.5rem;
        }
    }

}
.p5-title{
    height: 20vh;
    h1{
        margin-bottom: 0;
        margin-top: 0;
        line-height: 20vh;
        font-size: 2rem;
    }
}
.p5-projet{
    min-height: 60vh;
        h3{
        font-size: 2rem;
    }
    h5{
        font-size: 2.4rem;
    }
    div{
        div.item-projet{
            min-height: 20vh;
            div.centered{
                text-align: left;
            }
        }
    }
    span{
        margin-left: 10px;
        margin-right: 10px;
    }
    span:first-of-type{
        margin-left: 0;
    }
}
.p5-budget{
    min-height: 2vh;
    h2{
        font-size: 2rem;
    }
    h4{
        font-size: 2.4rem;
    }
    span{
        margin-left: 2px;
        margin-right: 2px;
    }
}
span.dol-gris{
    color: #8c8c8c;
}
//xs - extra-small : between 480px - 639px
@media (min-width: 480px){
   .rondelle-resultats{
        position: absolute;
        width: 40px;
        height: auto;
        top: -16px;
        left: -16px;
        +div{
            h2{
                margin-left: 12px;
                margin-top: 12px;
                font-weight: bold;
                font-size: 2rem;
            }
        }
    }
    .p5-title{
        height: 20vh;
        text-align: left;
        h1{
            margin-bottom: 0;
            margin-top: 0;
            line-height: 20vh;
            font-size: 2.8rem;
        }
    }
    .p5-projet{
        min-height: 50vh;
        h3{
            font-size: 1.8rem;
        }
        h5{
            font-size: 2rem;
        }
        div{
            div.item-projet{
                min-height: 20vh;
                div.centered{
                    text-align: left;
                }
            }
        }
    }
    .p5-budget{
        min-height: 20vh;
        h2{
            font-size: 2rem;
        }
        h4{
            font-size: 2.5rem;
        }
        span{
            margin-left: 5px;
            margin-right: 5px;
        }
    } 
}
//sm - small : between 640px - 1023px
@media (min-width: 640px){
    .rondelle-resultats{
        +div{
            h2{
                font-size: 2rem;
            }
        }

    }
    .p5-title{
        h1{
            margin-bottom: 0;
            margin-top: 0;
            line-height: 20vh;
            font-size: 3rem;
        }
    }
    .p5-projet{
        min-height: 50vh;
        h3{
            font-size: 2.1rem;
        }
        h5{
            font-size: 3rem;
        }
        div.item-projet{
            text-align: left;
        }
    }
    .p5-budget{
        h2{
            font-size: 2rem;
        }
        h4{
            font-size: 3.2rem;
        }
    }
}
//md - medium : between 1024px - 1439px
@media (min-width: 1024px){
    .rondelle-resultats{
        position: absolute;
        width: 80px;
        height: auto;
        top: -32px;
        left: -32px;
        +div{
            h2{
                margin-left: 20px;
                font-weight: bold;
                font-size: 1.8rem;
            }
        }

    }
    .p5-title{
        height: 20vh;
        h1{
            margin-bottom: 0;
            margin-top: 0;
            line-height: 20vh;
            font-size: 3rem;
        }
    }
    .p5-projet{
        height: 60vh;
            h3{
            font-size: 2.4rem;
        }
        h5{
            font-size: 3rem;
            font-weight: bold;
        }
        div.item-projet{
            height: 30vh;
            text-align: left;
        }
    }
    .p5-budget{
        height: 20vh;
        h2{
            font-size: 1.8rem;
        }
        h4{
            font-size: 3.2rem;
            font-weight: bold;
        }
    }
}
//lg - large : min 1440px
@media (min-width: 1440px){
    .rondelle-resultats{
        position: absolute;
        width: 80px;
        height: auto;
        top: -32px;
        left: -32px;
        +div{
            h2{
                margin-left: 20px;
                font-weight: bold;
                font-size: 2rem;
            }
        }

    }
    .p5-title{
        height: 20vh;
        h1{
            margin-bottom: 0;
            margin-top: 0;
            line-height: 20vh;
            font-size: 3.2rem;
        }
    }
    .p5-projet{
        height: 60vh;
            h3{
            font-size: 2.8rem;
        }
        h5{
            font-size: 3.2rem;
        }
        div.item-projet{
            height: 30vh;
            text-align: left;
        }
    }
    .p5-budget{
        height: 20vh;
        h2{
            font-size: 2rem;
        }
        h4{
            font-size: 3.4rem;
        }
    }
}